@model IEnumerable<aspTask7.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 style="color:aqua">Products </h1>



<div style="text-align:center">
    <div style="display:flex; gap:30px;">
        @foreach (var item in Model)
        {
            <div class="text-center">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p><br>
                        <h5 class="card-title">@item.Price</h5>

                    </div>
                </div>
            </div>

        }
    </div>


</div>


