################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sunday(Model in MVC)/Sunday(Model in MVC)/obj
/Sunday(Model in MVC)/Sunday(Model in MVC)/wwwroot/lib
/Task(20-2-2025) - Copy/.vs
/Task(20-2-2025)/Task(20-2-2025)/bin/Debug/net8.0
/Task(20-2-2025)
/Sunday(Model in MVC)/Sunday(Model in MVC)/bin/Debug/net8.0/af
/Sunday(Model in MVC)/Sunday(Model in MVC)/bin/Debug/net8.0/runtimes/win/lib
/Sunday(Model in MVC)/.vs/Sunday(Model in MVC)/FileContentIndex/0898ab3e-8e74-40f8-92cf-7c21e8fd9bf6.vsidx
/Sunday(Model in MVC)/.vs/Sunday(Model in MVC)/FileContentIndex/69246033-d8e5-406d-add4-c0924cb708c8.vsidx
/Sunday(Model in MVC)/.vs/Sunday(Model in MVC)/FileContentIndex/8cad528a-d929-4ade-8d29-a629e75f6e95.vsidx
/Sunday(Model in MVC)/.vs/Sunday(Model in MVC)/FileContentIndex/c40da704-a69c-46e4-978d-70b4d0b657d6.vsidx
/Sunday(Model in MVC)/.vs/Sunday(Model in MVC)/FileContentIndex/be6f3313-6990-4f7d-b980-a267beb0efc0.vsidx
/Sunday(Model in MVC)/.vs/Sunday(Model in MVC)/FileContentIndex/9730e357-9e29-4d5b-9bc8-94a0e366c0d5.vsidx
