################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sunday(Model in MVC)/Sunday(Model in MVC)/obj
/Sunday(Model in MVC)/Sunday(Model in MVC)/wwwroot/lib
/Task(20-2-2025) - Copy/.vs
/Task(20-2-2025)/Task(20-2-2025)/bin/Debug/net8.0
