
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>



<form method="post" action="/Home/Index">
   


    <button type="submit" class="btn btn-primary">Users Dashboard</button>


</form>
<br />
<br />
<br />

<form method="post" action="/Products/AdminIndex">

    <button type="submit" class="btn btn-primary">Product Dashboard</button>

</form>

<br />
<br />
<br />

<form method="post" action="/Users/Details">

    <button type="submit" class="btn btn-primary">Profile</button>

</form>

