
<form method="post" action="HandleLogin">

    <h1>Login</h1>


    <form method="post" action="/Home/HandleLogin">
        <table>
            <tr>
                <td>User name</td>
                <td><input type="text" name="user" required /></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="pass" required /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="checkbox" name="rem" value="yes" /> Remember me</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login" /></td>
            </tr>
        </table>
    </form>
</form>