

<h2>User Name:
	<br />

</h2> @ViewBag.UserName</h2>
<br />
<br />
<br />
<br />
<h2>Email:
	<br />

</h2> @ViewBag.Email</h2>
<br />
<br />
<br />
<h2>Password:
	<br />

</h2> @ViewData["Password"]</h2>

